<!DOCTYPE html>
<html lang="en">
<head>
    <script src="static/js/script.js"></script>
<link rel="stylesheet" href="static/css/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="static/images/download.jpeg">
    <img src="static/images/download (1).jpeg">
    <h1>this is my final year project !</h1>
    <p>done by Ananya Pillai from Vellore institute of technology </p>
    <br>
    <br>
    <h2 onclick="alertmessage()">click me !</h2>
    <h3 id="abc"></h3>
    <br>
    <br>
    <h2>{{n}} from {{c}}</h2>
</body>
</html>